@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

rect {
  stroke-linecap: round;
  stroke-dasharray: 0, 0, 40, 470;
  stroke-dashoffset: 770;
  stroke-linejoin: round;
  animation: spin 3.5s infinite linear alternate;
}

@keyframes spin {
  100% {
    stroke-dashoffset: -240;
  }
}

.arrow::before {
  content: "";
  @apply absolute top-1/2 w-20 right-0 h-[2px] bg-mildWhite transition-all duration-300 delay-0;
}

.arrow::after {
  content: "";
  @apply absolute top-1/2 right-0 -mt-[5px] w-[12px] h-[12px] border-r-[3px]
    border-b-[3px] -rotate-45 transition-all delay-0 duration-300;
}

.read-more:hover .arrow:before,
.read-more:hover .arrow:after {
  right: -2rem;
}

.read-more:hover .read-more__heading {
  @apply translate-x-8 -skew-x-[20deg];
}

@keyframes top {
  from {
    animation-timing-function: ease-in;
    clip-path: polygon(
      0 0,
      0 0,
      0 70%,
      77% 70%,
      77% 0,
      100% 0,
      100% 100%,
      0 100%
    );
  }
  50% {
    animation-timing-function: ease-out;
    clip-path: polygon(
      0 0,
      0 0,
      0 70%,
      77% 70%,
      77% 0,
      100% 0,
      100% 100%,
      0 100%
    );
  }
  to {
    clip-path: polygon(0 0, 0 0, 0 70%, 0 70%, 0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes bottom {
  from {
    animation-timing-function: ease-in;
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      0 100%,
      0 30%,
      0 30%,
      0 100%,
      0 100%
    );
  }
  50% {
    animation-timing-function: ease-out;
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      77% 100%,
      77% 30%,
      0 30%,
      0 100%,
      0 100%
    );
  }
  to {
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      123% 100%,
      123% 30%,
      100% 30%,
      100% 100%,
      0 100%
    );
  }
}
